<div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    {{#if loginedUser}}

                    <li>Hi {{controller.loginedUser.first_name}}</li>

                    {{else}}

                    <li><button class="btn btn-default" {{action "switchisLoginPopup"}} >login</button></li>
                    {{/if}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="main">

        <div class="col-md-12">
            {{outlet}}

        </div>   
    </div>
    {{#if isloginclick}}
    {{render "popupbox"}}
    {{/if}}

</div>
{{#if isDisplayErrorPupop}}
{{render "popupErrorBox"}}
{{/if}}

{{#if isDeletePopup}}
{{render "popupDeleteBox"}}
{{/if}}