
<div class="modal-body">
    <form id="fromLogin" role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{input type="email" value=username class="form-control" placeholder="Enter email"}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{input type="password" value=password class="form-control" placeholder="Password"}}
        </div>
        <button type="button" data-scope="email" class="btn btn-default" {{action "fb_login"}}">Facebook login</button>

        {{#if isError}}
        <span style="color:red">{{errorMessage}}
        </span>
        {{/if}}
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"{{action "closewindow"}}>canel</button>
        <button id="btnlogin" class="btn btn-primary ladda-button" data-style="expand-right" {{action "login"}}><span class="ladda-label">Login</span><span class="ladda-spinner"></span><span class="ladda-spinner"></span></button>
    </div>
</div>
