
<div style="background:rgba(0,0,0,0.5);
     position:absolute;
     top:0px;
     left:0px;
     width:100%;
     height:100%;
     overflow:auto;" >   


    <div class="container">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"{{action switchisDeletePopup}}>&times;</button>
                <h4 class="modal-title"> Danger...</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" {{action switchisDeletePopup}}>Close</button>
                <button type="button" class="btn btn-danger" {{action delete}}>Delete</button>
            </div>
        </div>
    </div>
</div>

