
<div style="background:rgba(0,0,0,0.5);
     position:absolute;
     top:0px;
     left:0px;
     width:100%;
     height:100%;
     overflow:auto;" >   


     <div class="container">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"{{action switchisDisplayErrorPupop}}>&times;</button>
                <h4 class="modal-title"> Ops... There is something wrong with your account...</h4>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    {{#each item in content }}
                    <li class="list-group-item">{{item}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" {{action switchisDisplayErrorPupop}}>Close</button>

            </div>
        </div>
    </div>
</div>

