
<div class="modal-body" style="display:none">

    <form id="fromRegister" role="form">

        <div class="form-group">
            <label for="first_name">First Name</label>
            {{input type="text" value=firstName class="form-control" placeholder="First Name"}}
            {{#unless isCorrectFirstName}}
            <span class="glyphicon glyphicon-remove form-control-feedback"> First name cannot be empty.</span>
            {{/unless}}
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            {{input type="text" value=lastName class="form-control" placeholder="Last Name"}}
            {{#unless isCorrectLastName}}
            <span class="glyphicon glyphicon-remove form-control-feedback"> Last name cannot be empty.</span>
            {{/unless}}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{input type="email" value=registeremail class="form-control" placeholder="Enter email"}}
            {{#unless isCorrectEmail}}
            <span class="glyphicon glyphicon-remove form-control-feedback"> Your email format is not correct.</span>
            {{/unless}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{input type="password" value=registerpassword1 class="form-control" placeholder="Password"}}
            <label for="exampleInputPassword1">Please confirm your password</label>
            {{input type="password" value=registerpassword2 class="form-control" placeholder="Password"}}
            {{#unless isCorrectPassword}}
            <span class="glyphicon glyphicon-remove form-control-feedback"> {{passwordErrorMessage}}</span>
            {{/unless}}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Group</label>
            <select id="selectGroup" class="form-control" >
                <option value="2" >User</option>
                <option value="3" >Admin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Active</label>
            {{#if isActive }}
            <span class="btn btn-success btn-sm" {{action switchActive }}>Active</span>
            {{else}}
            <span class="btn btn-danger btn-sm" {{action switchActive }}>Stop</span>
            {{/if}}
        </div>
        <label>{{reply_message}}</label>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"{{action "switchisLoginPopup"}}>canel</button>
        <button id="btnlogin" class="btn btn-primary ladda-button" data-style="expand-right" {{action "registerClick"}}><span class="ladda-label">Register</span><span class="ladda-spinner"></span><span class="ladda-spinner"></span></button>
    </div>
</div>

