
{{#if isEdit}}
<td>{{model.id}}</td>
<td>{{input type="text" value=model.first_name class="form-control"}}</td>
<td>{{input type="text" value=model.last_name class="form-control"}}</td>
<td>{{input type="text" value=model.email class="form-control"}}</td>
<td> {{#if model.active }}
    <span class="btn btn-success btn-sm" {{action switchActive }}>Active</span>
    {{else}}
    <span class="btn btn-danger btn-sm" {{action switchActive }}>Stop</span>
    {{/if}}
</td>
</td>
<td>{{facebook_id}}</td>
<td>{{created_date}}</td>
<td><span><button type="button" class="btn btn-success"{{action save}}>Save</button></span><button type="button" class="btn btn-danger"{{action cancel}}>cancel</button></span></td>
{{else}}
<td>{{model.id}}</td>
<td>{{model.first_name}}</td>
<td>{{model.last_name}}</td>
<td>{{model.email}}</td>
<td> 

    {{#if model.active }}
    <span class="label label-success">Active</span>
    {{else}}
    <span class="label label-danger">Stop</span>
    {{/if}}
</td>
<td>{{model.facebook_id}}</td>
<td>{{model.created_date}}</td>

{{#if isAuthorized}}
<td><span><button type="button" class="btn btn-primary"{{action switchIsEdit}}>Edit</button>
        <button type="button" class="btn btn-danger"{{action delete}}>Delete</button></span></td>
{{/if}}
{{/if }}
</tr>



