<div class="well">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Facebook ID</th>
                <th>Created Date</th>
                {{#if isAuthorized}}
                <th>
                    <button type="button" class="btn btn-primary"{{action clickNewUser}}>New User</button></th>
                {{/if}}
            </tr>
        </thead>

        <tbody>
            {{#each content}}
            <tr>
                {{render "user" this}}

            </tr>
            {{/each}}
        </tbody>
    </table>

</div>

